
body {
    padding-top: 54px;
    background-color: #c2b7b2;
  }
  
  header .welcome {
    margin-top: 3em;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  
  .card {
    height: 100%;
  }
  
  /*!
   * Copyright 2018 Trilogy Education
   */