
body {
  padding-top: 54px;
  background-color: hsl(19, 76%, 35%);
}

.welcome {
  margin-top: 3em;
}

.homepage-header{
  background-color: rgb(193, 86, 175);
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.footer {
  background-color: darkgreen;
  width: 100%
}

.card {
  height: 100%;
}

button {
  background-color: darkolivegreen;
}

.btn-primary {
  background-color: darkolivegreen;
  border-color: darkolivegreen; 
}

.about-me-background {
  background-color: aqua;
}

.background-nav {
  background-color: bisque;
}

/*!
  * Copyright 2018 Trilogy Education
  */